{% extends 'accounts/main.html'  %}

{% block content  %}
<br>
<br>
<div class="container-fluid">
   <div class="row ">
       
       <div class="col-md">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold">Products</h6>
            </div>
            <div class=" card-body">
            
              
              <table class="table">
                <tr>
                    <th></th>
                    <th>Product</th>
                    <th>Category</th>
                    <th>Price</th>
                </tr>
    
            </table>
            </div>
          </div>

       </div>


   </div>
   
   </div>

{%  endblock %}



