



{% block content  %}
{% load static %}
<div class="container-fluid">
<div class="row justify-content-md-center">
	<div class="col">
		<div class="col-md">
			<div class="card text-center  text-white" id="total-orders">
			  	<div class="card-header  " id="total-orders">
			  		<h4 class="card-title">Total Orders</h4>
			  	</div>
			  	<div class="card-body">
					 
			    	<h2 class="card-title text-white">#0000</h2>
				</div>
				  
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-delivered">
			  	<div class="card-header "  id="orders-delivered">
			  		<h4 class="card-title">Orders Delivered</h4>
			  	</div>
			  	<div class="card-body">
			    	<h2 class="card-title text-white">#1111</h2>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white   mb-3" id="orders-pending">
			  	<div class="card-header " id="orders-pending">
			  		<h4 class="card-title ">Orders Pending</h4>
			  	</div>
			  	<div class="card-body">
			    	<h2 class="card-title text-white">#3333</h2>
			  	</div>
			</div>
		</div>
	</div>
</div>

</div>

{%  endblock %}